<div>
  <ion-header [translucent]="true">
    <ion-toolbar color="primary">
      <ion-title> หน้าหลัก </ion-title>
    </ion-toolbar>
  </ion-header>
</div>
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <div>
        <ion-item>
          <ion-label>อัติโนมัติ</ion-label>
          <ion-toggle
            [(ngModel)]="SW_auto"
            (ionChange)="auto_on()"
            fill="outline"
            slot="end"
            color="primary"
            mode="ios"
          ></ion-toggle>
        </ion-item>
      </div>
      <div>
        <ngx-gauge
          [thresholds]="thresholdConfig"
          [type]="'arch'"
          [value]="tempShow"
          [label]="'PH'"
          [append]="''"
          [size]="'120'"
          [cap]="'round'"
          [thick]="'8'"
        >
        </ngx-gauge>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <ngx-gauge
          [thresholds]="thresholdConfig"
          [type]="'arch'"
          [value]="humiShow"
          [label]="'ความชื้น'"
          [append]="'%'"
          [size]="'120'"
          [cap]="'round'"
          [thick]="'8'"
        >
        </ngx-gauge>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col
        ><ion-item
          >สถานะ
          <ion-badge slot="end"> {{this.service.status.type }} </ion-badge>
        </ion-item></ion-col
      > </ion-row
    ><ion-row>
      <ion-col
        ><ion-item
          >ปั๊มตัวที่ 1
          <ion-badge slot="end" color="success"
            >{{this.pump1 == 1?"ทำงาน":"ไม่ทำงาน"}}</ion-badge
          >
        </ion-item></ion-col
      > </ion-row
    ><ion-row>
      <ion-col
        ><ion-item
          >ปั๊มตัวที่ 2
          <ion-badge slot="end" color="success"
            >{{ this.pump2==1 ?"ทำงาน":"ไม่ทำงาน"}}</ion-badge
          >
        </ion-item></ion-col
      > </ion-row
    ><ion-row>
      <ion-col
        ><ion-item
          >ปั๊มตัวที่ 3
          <ion-badge slot="end" color="success"
            >{{ this.pump3 == 1?"ทำงาน":"ไม่ทำงาน"}}</ion-badge
          >
        </ion-item></ion-col
      > </ion-row
    ><ion-row>
      <ion-col
        ><ion-item
          >ปั๊มตัวที่ 4
          <ion-badge slot="end" color="success"
            >{{ this.pump4== 1?"ทำงาน":"ไม่ทำงาน"}}</ion-badge
          >
        </ion-item></ion-col
      >
    </ion-row></ion-grid
  >
</ion-content>
